.form {
  margin: 0 auto;
  background-color: #fff5e0;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  width: 300px;
}

.form-heading {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.form-element,
.form-controls {
  margin: 0.5rem 0rem;
}
.form-controls {
  text-align: center;
}

.form-element__field {
  display: block;
  width: 100%;
  padding: 0.7rem 0.3rem;
  border-radius: 0.5rem;
  margin-top: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}
.form-element__label {
  font-weight: 700;
}

.form-element__button {
  width: 120px;
  height: 40px;
  border-radius: 100px;
  border: none;
  background-color: #ff6969;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.error {
  border: 2px solid rgb(190, 0, 0);
}
@media (width>500px) {
  .form-heading {
    font-size: 2.2rem;
  }
  .form {
    width: 500px;
  }
}
